@import '~normalize.css/normalize.css';

:root {
    --mainBackground: rgb(241, 241, 241);
    --textContent: rgb(170, 171, 174);
    --pink: rgb(245, 82, 109);
}

.border__bottom {
    border-bottom: 2px solid var(--mainBackground);
    margin-bottom: 10px;
    margin-top: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    background-size: contain;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .defaultLayout__header {
        display: none;
    }

    .defaultLayout__content-left {
        display: none;
    }

    .defaultLayout__content-right {
        width: 100%;
        top: 0;
    }

    .item__header-content {
        width: 100%;
    }

    .author__main {
        width: 100%;
    }

    .rightLayout {
        display: none;
    }

    .app {
        margin-left: 20px;
    }

    .btn__follow {
        margin-right: -20px;
    }

    .item__video {
        margin-left: -40px;
    }

    .controls i {
        left: -10px;
    }

    .volumes i {
        left: 215px
    }

    .range {
        left: 203px;
    }
}