.defaultLayout {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.defaultLayout__header,
.defaultLayout__content {
    width: 100%;
    max-width: 1150px;
}

.defaultLayout__header {
    padding: 5px 10px;
}

.defaultLayout__content-left {
    width: 20%;

}

.defaultLayout__content-left::-webkit-scrollbar,
.defaultLayout__content-right::-webkit-scrollbar {
    width: 5px;
}


.defaultLayout__content-left::-webkit-scrollbar-thumb {
    background-color: var(--mainBackground);
}

.defaultLayout__content-right::-webkit-scrollbar-thumb {
    background-color: var(--textContent);
}

.defaultLayout__content{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.defaultLayout__content-left,
.defaultLayout__content-right {
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-right: 12px;
    perspective-origin: right top;
    bottom: 0;
    top: 70px;
    z-index: 1;
}

.defaultLayout__content-right {
    right: 0;
    width: 60%;
}