.block__avatar {
    position: relative;
    z-index: 99;
}

.menu__profile {
    position: absolute;
    bottom: -100px;
    z-index: 99;
    height: 90px;
    width: 307.99px;
    right: -20px;
    
}

.menu__profile-items {
    display: none;
    width: 100%;
    background-color: #fff;
    z-index: 9;

}

.menu__profile-item:hover {
    background-color: var(--mainBackground);
}

.menu__profile-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 0 5px 0;
}

.menu__profile-item div {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
ul{
    padding: 0;
}
.block__avatar:hover .menu__profile-items{
    display: block;
}